SERIES_ENVIRONMENT=development
SERIES_DATABASE_URL=
POSTGRES_DB=series
POSTGRES_USER=series
POSTGRES_PASSWORD=
SERIES_TVMAZE_BASE_URL=http://api.tvmaze.com
SERIES_AI_PROVIDER=huggingface
SERIES_HUGGINGFACE_MODEL=google/flan-t5-base
SERIES_HUGGINGFACE_API_URL=https://api-inference.huggingface.co/models
SERIES_HUGGINGFACE_API_KEY=
SERIES_ANONYMOUS_USER_COOKIE=series_user_id
